.padre{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
  
    background: red;
}

.uno,
.dos,
.tres,
.cuatro{
    text-align: center;
    background: blue;
    width: 100%;
    height: 10vh;
    text-align: center;

}