* {
  box-sizing: border-box;
}

.padre {
  display: flex;
  flex-direction: column; /* 👈 esto apila los hijos verticalmente */
  align-items: center; 
  width: 100%;
  height: auto;
  background: red;
  padding: 5px;
}

.uno,
.dos,
.tres,
.cuatro{    
    text-align: center;
    background: blue;
    width: 50%;
    height: 5;
    text-align: center;
    margin-bottom: 20px;

}