* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#main-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 92vh;
    background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;

}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
   
   
}

.contacto ul {

     display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0;
   
}

.contacto li {
    margin: 10px 0;
    font-size: 1.1rem;
}

.contacto a {
    text-decoration: none;
    color: green;
}

.contacto a:hover {
    text-decoration: underline;
}


#btn-contact{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
}


#btn-contact:hover{
    background: green;
    color: white;
}

/*Para el icono de Github*/

.contact-link {
    display: flex;
    align-items: center;
    gap: 8px;   /* espacio entre icono y texto */
    text-decoration: none;
    color: #007bff;
}

.contact-link:hover {
    text-decoration: underline;
}

.icon {
    width: 20px;   /* tamaño del icono */
    height: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 8px; /* espacio entre icono y texto */
    text-decoration: none;
    color: #007bff;
}

.contact-link:hover {
    text-decoration: underline;
}

.contact-link i {
    font-size: 20px; /* tamaño del icono */
}


