* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
     background: linear-gradient(135deg,
            #000000 0%,
            #000000 80%,
            #002200 90%,
            #004400 100%
        );
}

header {
    display: flex;
    justify-content: flex-end;
     align-items: center;  
    padding: 10px;
   
}

header nav a {
    text-decoration: none; 
    margin-right: 20px;    
    color: #ffffff;          
   
}

header nav a:hover{
    color: green;
}

.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93vh;
    padding: 10px;

}

.div-centro {
    width: 100%;
    height: 80vh;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

}



 .proyecto1,
 .proyecto2,
 .proyecto3{
    height: auto;
    width: auto;
    cursor:pointer;
    
 }

 .proyecto1 img,
 .proyecto2 img,
.proyecto3 img{
    width: 100%;
    display: block;
    border: 2px solid rgb(0, 231, 19);
    border-radius: 10px;

 }



.proyecto1 article,
.proyecto2 article,
.proyecto3 article{
    background: #000000;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    interpolate-size: allow-keywords;
    padding: 0 10px;

}

#parrafo,
#parrafo2,
#parrafo3{
    color:white;
    text-align: justify;
}

#title-proj1,
#title-proj2,
#title-proj3{
     color:white;
    text-align: center;
}

.proyecto1:hover article,
.proyecto2:hover article,
.proyecto3:hover article{
    height: auto;
}






#btn-projects {
    width: 8%;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
}


#btn-projects:hover {
    background: green;
    color: white;
}


