* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
}

header {
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



#main-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 92vh;
    background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;

}
label{
    color: white;
}
input,
textarea{
    border-color: green;
    outline: none;
}

#formContact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: auto;
    padding: 15px;
}


#btn-contact{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
}


#btn-contact:hover{
    background: green;
    color: white;
}
