* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,
            #000000 0%,
            #000000 80%,
            #002200 90%,
            #004400 100%
        );
}


.padre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /*  background-image: url('../imgs/fondo1.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 5px;
}

.div-centro {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.uno,
.dos,
.tres,
.cuatro {

    width: 100%;
    height: 15vh;
    text-align: center;
    margin-bottom: 20px;
    color: wheat;

}

h1 {
     color: green;

}



.uno h1 {
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
    cursor: pointer;

}

.uno h1:hover {
    font-size: 2rem;
    cursor: pointer;

}




h2 {
    font-size: 1.5rem;
    transition: font-size 0.3s ease;
    cursor: pointer;

}

h2:hover {
    font-size: 2rem;
    cursor: pointer;
    color: green;

}