* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-image: url('../imgs/codigo.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/codigo.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;

}

.div-centro {
    width: 100%;
    height: 80vh;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

}


.proyecto1 {
    height: 200px;
    background-image: url('../imgs/indk.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid green;
    cursor: pointer;
}

.proyecto2 {
    height: 200px;
    background-image: url('../imgs/quiren.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
      border: 1px solid green;
    cursor: pointer;
}


.proyecto3 {
    height: 200px;
    background-image: url('../imgs/tromluc.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
     border: 1px solid green;
    cursor: pointer;
}


#btn-projects {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
}


#btn-projects:hover{
    background: green;
    color: white;
}
