* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
}



#main-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;

}
label{
    color: white;
}
input,
textarea{
    border-color: green;
    outline: none;
}

#formContact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 60vh;
    border: 4px solid rgb(1, 92, 1);
    padding: 15px;
}