* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,
            #000000 0%,
            #000000 80%,
            #002200 90%,
            #004400 100%
        );
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 3x;
    height: 5vh;
}

#cambiarFondo {
    background: black;
  font-size: 25px;       /* emoji grande y visible */
  border: none;
  border-radius: 50%;    /* forma circular */
  padding: 10px;
  cursor: pointer;
  
  transition: transform 0.2s;
}




.padre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95vh;
    /*  background-image: url('../imgs/fondo1.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 5px;
}

.div-centro {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.uno,
.dos,
.tres,
.cuatro {

    width: 100%;
    height: 15vh;
    text-align: center;
    margin-bottom: 20px;
    color: wheat;

}

h1 {
     color: green;
     

}



.uno h1 {
    font-size: 50px;
    transition: font-size 0.3s ease;
    cursor: pointer;

}

.uno h1:hover {
    font-size: 55px;
    cursor: pointer;

}




h2 {
    font-size: 35px;
    transition: font-size 0.3s ease;
    cursor: pointer;

}

h2:hover {
    font-size: 40px;
    cursor: pointer;
    color: green;

}




/*MEDIA QUERY PARA TABLET */

@media (max-width: 768px) and (max-width: 991.98px){

}

/*MEDIA QUERY CELULAR*/

@media (max-width: 575.98px){

    .padre{
        height: 100dvh;
        
    }

    .uno h1 {
    font-size: 40px;
    transition: font-size 0.3s ease;
    cursor: pointer;
}

h2{
    font-size: 25px;
}
    
}