* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,
            #000000 0%,
            #000000 80%,
            #002200 90%,
            #004400 100%);
}


.padre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 5px;
    border: 3px solid red;
}

.div-centro {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border: 3px solid yellow
}

.div-centro p {
    font-family: 'Press Start 2P', monospace;
    color: white;
    text-align: justify;
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: normal;
    width: 80%;
    margin: 0 auto;
}

.div-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    border: 3px solid BLUE
}

.div-foto img {
    width: 200px;
}



.div-btn {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

#btn-aboutme:hover {
    background: green;
    cursor: pointer;
    color: white;
}