* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,
            #000000 0%,
            #000000 80%,
            #002200 90%,
            #004400 100%);
}


.padre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 5px;
    
}

.div-centro {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
   
}

.div-centro p {
    font-family: 'Press Start 2P', monospace;
    color: white;
    text-align: justify;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: normal;
    width: 80%;
    margin: 0 auto;
}

.div-foto {
    display: flex;
    justify-content: left;
    align-items: left;
    width:auto;
    height: auto;
    margin-bottom: 20px;
   
}

.div-foto img {
    width: 250px;
}



.div-btn {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

#btn-aboutme{
    width: 15%;
}

#btn-aboutme:hover {
    background: green;
    cursor: pointer;
    color: white;
}

/*MEDIA QUERY PARA TABLET */

@media (max-width: 768px) and (max-width: 991.98px){

}


/*MEDIA QUERY PARA CELULAR*/
@media (max-width: 575.98px){
.div-centro {
    width: 100%;
    height: auto;
   
}
    .div-foto img {
    width: 110px;
}

.div-centro p{
    font-size: 11px;
}

#btn-aboutme{
    width: 40%;
}
}