* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
}


.padre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/about.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
}

.div-centro{
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    
}

.div-centro p {
  font-family: 'Press Start 2P', monospace;
  color: white;
  text-align: justify;
  font-size: 10px;          /* m치s peque침o */
  line-height: 2;           /* m치s separaci칩n vertical */
  letter-spacing: 1px;      /* puedes probar con 0 o 0.5 */
  word-spacing: normal;
  width: 80%;
  margin: 0 auto;
}



.div-btn{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

#btn-aboutme:hover{
    background: green;
    cursor: pointer;
    color: white;
}

