* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
     background: linear-gradient(135deg,
            #000000 0%,
            #000000 80%,
            #002200 90%,
            #004400 100%
        );
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
header nav{
    display: flex;
}


.padre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 93vh;
 /*    background-image: url('../imgs/codigo.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    padding: 10px;

}

.div-centro {
    width: 100%;
    height: 80vh;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

}



.proyecto1 {
    height: 200px;
    background-image: url('../imgs/indk.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    background-clip: padding-box;
    position: relative;
}

.proyecto1::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(90deg, green, lime, green);
    background-size: 200% 100%;
    animation: animarBorde 3s linear infinite;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}



.proyecto2 {
    height: 200px;
    background-image: url('../imgs/quiren.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
     border: 1px solid transparent;
    cursor: pointer;
    background-clip: padding-box;
    position: relative;
}

.proyecto2::after {
    content: '';
    position: absolute;
    top: -4px; left: -4px; bottom: -4px; right: -4px;
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(90deg, green, lime, green);
    background-size: 200% 100%;
    animation: animarBorde 3s linear infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}



.proyecto3 {
    height: 200px;
    background-image: url('../imgs/tromluc.png');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    background-clip: padding-box;
    position: relative;
}

.proyecto3::after {
    content: '';
    position: absolute;
    top: -4px; left: -4px; bottom: -4px; right: -4px;
    border-radius: 5px;
    padding: 4px;
    background: linear-gradient(90deg, green, lime, green);
    background-size: 200% 100%;
    animation: animarBorde 3s linear infinite;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}



#btn-projects {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: white;
}


#btn-projects:hover {
    background: green;
    color: white;
}

@keyframes animarBorde {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 200% 0;
    }
}


